<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <link rel="stylesheet"
        href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  {% if not g.user %}
  <li><a href="/signup">Sign up</a></li>
  <li><a href="/login">Log in</a></li>
{% else %}
  <li>
    <a href="/users/{{ g.user.username }}">
      <!-- TODO: when we get image, reenable -->
      <!-- <img src="{{ g.user.image }}" alt="{{ g.user.username }}"> -->
    </a>
  </li>

  <li>
    <form method="POST" action="/logout">
      {{ g.csrf_form.hidden_tag() }}
      <button class="btn btn-link">Log out</button>
    </form>
  <li>
{% endif %}
<div>
  {% block content %}
  {% endblock %}
</div>
</body>
</html>